---
import pizzaHeader from "../assets/pizza-heading.jpg";
import { Image } from "astro:assets";
import insta from "../assets/insta.svg";
import facebook from "../assets/facebook.svg";
import twitter from "../assets/twitter.svg";
---

<div>
  <div
    class="bg-white fixed left-0 top-0 bottom-0 w-[60px] lg:flex lg:justify-center lg:z-40 hidden"
  >
    <div class="flex flex-col justify-center items-center gap-y-6">
      <a
        href="https://www.instagram.com/"
        target="_blank"
        class="hover:cursor-pointer a a-animate"
      >
        <Image src={insta} alt="in" class="h-6 w-10" />
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <Image
          src={facebook}
          alt="ad"
          class="h-6 w-10 hover:cursor-pointer a a-animate"
        />
      </a>
      <a href="https://twitter.com/">
        <Image
          src={twitter}
          alt="dd"
          class="h-6 w-10 hover:cursor-pointer a a-animate"
        />
      </a>
    </div>
  </div>
  <div
    class="bg-white fixed top-0 bottom-0 right-0 w-[60px] lg:flex lg:justify-center lg:z-30 hidden"
  >
    <div class="flex flex-col justify-center items-center gap-y-6">
      <p class="rotate-[90deg] font-bold text-2xl text-italia l">DALFORNO</p>
    </div>
  </div>
  <div
    class="flex flex-col items-center relative h-[540px] lg:flex-row lg:h-screen"
  >
    <div
      class="overflow-hidden lg:hidden h-64 xl:pt-[170px] lg:h-[100dvh] lg:w-3/6 lg:order-2"
    >
      <Image
        width={1020}
        format="avif"
        src={pizzaHeader}
        alt="Image of pizza"
      />
    </div>
    <div
      class="overflow-hidden hidden lg:block h-64 lg:h-[100dvh] lg:w-3/6 lg:order-2 pizza"
    >
      <Image
        width={1500}
        src={pizzaHeader}
        format="avif"
        alt="Image of pizza"
        class="h-full w-full object-cover z-0"
      />
    </div>
    <div
      class="w-72 lg:w-3/6 h-full lg:justify-center flex flex-col items-center"
    >
      <div
        class="relative flex flex-col justify-center items-center bg-[url('/src/assets/olives.webp')] lg:bg-[url('/src/assets/olive-big.webp')] bg-no-repeat bg-center lg:h-72 lg:mb-5"
      >
        <!-- Phone -->
        <h1
          class="pb-[85px] mt-14 lg:pb-[30px] z-20 pt-4 font-bold text-5xl lg:text-6xl xl:text-8xl text-italia sm:hidden"
        >
          DALFORNO
        </h1>
        <!-- Desktop -->
        <h1
          class="pb-[85px] mt-14 lg:pb-[30px] z-20 pt-4 font-bold text-5xl lg:text-6xl xl:text-8xl text-italia hidden sm:block p"
        >
          DALFORNO
        </h1>
      </div>
      <h2 class="pb-14 text-stone-800 font-serif lg:pt-12 lg:text-xl sm:hidden">
        There is a Place like Home
      </h2>
      <h2
        class="pb-14 text-stone-800 font-serif lg:pt-12 lg:text-xl hidden sm:block v"
      >
        There is a Place like Home
      </h2>
      <a href="/menu" aria-label="See Menu">
        <button
          aria-label="see menu"
          class="border border-italia text-italia px-4 text-lg lg:py-1 lg:px-5 sm:hover:bg-italia sm:hover:text-white sm:duration-300 c"
          >See Menu</button
        >
      </a>
    </div>
  </div>
</div>

<script>
  // Get all the anchor links with the class 'a'
  const links = document.querySelectorAll(".a");
  const dalforno = document.querySelector(".p");
  const rightDalforno = document.querySelector(".l");
  const place = document.querySelector(".v");
  const menuBtn = document.querySelector(".c");
  const pizza = document.querySelector(".pizza");

  rightDalforno.style.transform = "translateY(-100%)";
  rightDalforno.style.opacity = 0;
  rightDalforno.style.rotate = "90deg";
  setTimeout(() => {
    rightDalforno.style.transition = "transform 0.5s ease, opacity 0.5s ease";
    rightDalforno.style.transform = "translateX(0)";
    rightDalforno.style.opacity = 1;
  }, 1000); // Delay each link animation

  dalforno.style.transform = "translateX(-100%)";
  dalforno.style.opacity = 0;
  setTimeout(() => {
    dalforno.style.transition = "transform 0.5s ease, opacity 0.5s ease";
    dalforno.style.transform = "translateX(0)";
    dalforno.style.opacity = 1;
  }, 1500); // Delay each link animation

  place.style.transform = "translateX(-100%)";
  place.style.opacity = 0;
  setTimeout(() => {
    place.style.transition = "transform 0.5s ease, opacity 0.5s ease";
    place.style.transform = "translateX(0)";
    place.style.opacity = 1;
  }, 1700); // Delay each link animation

  menuBtn.style.transform = "translateX(-100%)";
  menuBtn.style.opacity = 0;

  setTimeout(() => {
    menuBtn.style.transition = "transform 0.5s ease, opacity 0.5s ease";
    menuBtn.style.transform = "translateX(0)";
    menuBtn.style.opacity = 1;
  }, 1900); // Delay each link animation

  // Animate the links on page load
  links.forEach((link, index) => {
    link.style.transform = "translateX(-100%)";
    link.style.opacity = 0;
    setTimeout(() => {
      link.style.transition = "transform 0.5s ease, opacity 0.5s ease";
      link.style.transform = "translateX(0)";
      link.style.opacity = 1;
    }, 1000); // Delay each link animation
  });

  pizza.style.transform = "translateY(-100%)";
  pizza.style.opacity = 0;
  setTimeout(() => {
    pizza.style.transition = "transform 0.5s ease, opacity 0.5s ease";
    pizza.style.transform = "translateY(0)";
    pizza.style.opacity = 1;
  }, 1300); // Delay each link animation
</script>
