---
import DietaryInfo from "./DietaryInfo.astro";
const { foodName, description, price, center, show, veg, spicy } = Astro.props;
---

<div
  class={`${
    center ? "col-start-[-2] col-end-[-3]" : ""
  } flex flex-col justify-center text-center items-center w-72 mb-28 lg:w-full`}
>
  <div class="w-80 pb-8">
    <p class="font-serif text-2xl pb-4">{foodName}</p>
    <p class="pb-3 text-orange-950">
      {description}
    </p>
    <p class="text-xl">${price}</p>
  </div>
  <DietaryInfo show={show} veg={veg} spicy={spicy} />
</div>
