---
import Food from "./Food.astro";
---

<div class="flex flex-col justify-center items-center bg-white">
  <div class="text-3xl font-serif text-italia pb-5 text-center">Antipasti</div>

  <div class="text-center pb-12 xl:pb-20">
    <span class="h-[1px] bg-black block w-9"></span>
  </div>
  <div
    class="flex flex-col xl:gap-x-24 items-center justify-center lg:grid lg:justify-center lg:items-center w-full lg:grid-cols-2 xl:grid-cols-3"
  >
    <Food
      foodName="Focaccia"
      description="I’m a dish descriptionos. Click “Edit Menu” to open the Restaurant Menu editor and change my text."
      price="9"
    />
    <Food
      foodName="Fried Calamari"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Fried Zucchini"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
      show={true}
      veg={true}
    />
    <Food
      foodName="Bruschetta di Pomodoro"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Shrimp Aglio olio"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Insalata Mista"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
      show={true}
      veg={true}
    />
    <Food
      foodName="Buffalo Mozzarella & Tomato"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
      center="true"
    />
  </div>
  <!------------------- Pasta ---------------------------------->

  <div class="text-3xl font-serif text-italia pb-5">Pasta</div>
  <div class="text-center pb-12 xl:pb-20">
    <span class="h-[1px] bg-black block w-9"></span>
  </div>
  <div
    class="flex flex-col items-center justify-center lg:grid w-full lg:grid-cols-2 xl:grid-cols-3"
  >
    <Food
      foodName="Pomodoro"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
      show={true}
      veg={true}
    />
    <Food
      foodName="Penne Arrabiata"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
      show={true}
      spicy={true}
    />
    <Food
      foodName="Gnocchi Quattro Formaggi"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Lasagna Bolognese"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Rigatoni"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Carbonara"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Schoko"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες σας."
      price="9"
      center="true"
    />
  </div>
  <!------------------- Pizza ---------------------------------->
  <div class="text-3xl font-serif text-italia pb-5">Pizza</div>
  <div class="text-center pb-12 xl:pb-20">
    <span class="h-[1px] bg-black block w-9"></span>
  </div>
  <div
    class="flex flex-col items-center justify-center lg:grid w-full lg:grid-cols-2 xl:grid-cols-3"
  >
    <Food
      foodName="Margherita"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
      show={true}
      veg={true}
    />
    <Food
      foodName="Arugula"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Bianca"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Funghi"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Capricciosa"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Siciliana"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
      show={true}
      spicy={true}
    />
  </div>
  <!------------------- Dolci ---------------------------------->
  <div class="text-3xl font-serif text-italia pb-5">Dolci</div>
  <div class="text-center pb-12">
    <span class="h-[1px] bg-black block w-9"></span>
  </div>
  <div
    class="flex flex-col items-center justify-center lg:grid w-full lg:grid-cols-2 xl:grid-cols-3"
  >
    <Food
      foodName="Ice Cream"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Creme Brulee"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
    <Food
      foodName="Tiramisu"
      description="Αυτή είναι μια κανονική περιγραφή που μπορούμε να τροποποιήσουμε ανάλογα με τις ανάγκες μας."
      price="9"
    />
  </div>
</div>
